<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row mt-4">
                <H1>Adminlogin</H1>
                
                <div class="col col-12 col-sm-6-md-6 col-lg-6 col-xxl-6">
                        <label for="" class="form-label">UserId</label>
                    <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col col-12 col-sm-6-md-6 col-lg-6 col-xxl-6">
                    <label for="" class="form-label">Password</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
                    <br>
                    <button class="btn btn-primary">Submit</button>
                </div>
        </div>
    </div>
</div>

